<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless.css">
    <title>Join Lobby</title>
</head>
<body>
    <div class="container">
        <h1>Join Lobby</h1>
        <form>
            <label for="lobbyID">Lobby ID:</label>
            <input type="text" id="lobbyID" name="lobbyID" required>

            <!-- Add more input fields as needed -->

            <button type="submit" class="join-lobby-btn1">Join Lobby</button>
        </form>
        <a href="startgame.html" class="back-btn">Back to Lobby</a>
    </div>
</body>
</html>
