<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless.css">
    <title>Game Menu</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Game</h1>
        <div class="buttons">
            <a href="startgame.html" class="start-game-btn">Start Game</a>
            <a href="leaderboard.html" class="leaderboard-btn">Leader Board</a>
        </div>
    </div>
</body>
</html>
