<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styless.css">
    <title>Game Lobby</title>
</head>
<body>
    <div class="container">
        <h1>Game Lobby</h1>
        <div class="buttons">
            <a href="createlobby.html" class="create-lobby-btn">Create Lobby</a>
            <a href="joinlobby.html" class="join-lobby-btn">Join Lobby</a>
        </div>
        <a href="mainmenu.html" class="back-btn">Back to Menu</a>
    </div>
</body>
</html>

